{{#recentActivityModule}}
	<div class="module RecentActivityModule">
		<h2 class="activity-heading">{{activityHeading}}</h2>
		<ul class="community-page-user-based-list">
			{{#activity}}
				{{> userBasedList}}
			{{/activity}}
		</ul>
		<a data-tracking="view-all-activity-link" href="{{moreActivityLink}}">{{moreActivityText}}</a>
	</div>
{{/recentActivityModule}}
