<section class="community-page-contributors-module-section">
	<h2>{{topContribsHeaderText}}</h2>
	<div class="user-details">
		<div class="avatar-container">
			{{{userAvatar}}}
		</div>
		<div class="community-page-rank">
			<span>{{userRank}} <small>/ {{weeklyEditorCount}}</small></span>
			<span class="community-page-subtle">{{yourRankText}}</span>
		</div>
		<div class="user-contrib-count">
			<span>{{userContribCount}}</span>
			<span class="community-page-subtle">{{userContributionsText}}</span>
		</div>
	</div>
	<ul class="community-page-user-based-list">
		{{#contributors}}
			{{> userBasedList}}
		{{/contributors}}
		{{^contributors}}
			<div class="community-page-zero">
				{{noContribsText}}
			</div>
		{{/contributors}}
	</ul>
</section>
