<!-- Begin IVW3 head tag -->
<script type="text/javascript" src="{{url}}"></script>
<!--<script type="text/javascript">-->
	<!--if (window.Wikia &&-->
		<!--window.Wikia.InstantGlobals &&-->
		<!--!window.Wikia.InstantGlobals.wgSitewideDisableIVW3 &&-->
		<!--window.Wikia.geo.isProperGeo({{{countries}}})-->
	<!--) {-->
		<!--window.ivw3Initialized = true;-->
		<!--document.write('<script type="text/javascript" src="{{url}}"><\/script>');-->
	<!--}-->
<!--</script>-->
<!-- End IVW3 head tag -->
