<style>
  related-content {
    border: none;
    padding: 0;
  }
</style>

<section class="WikiaActivityModule module">
  <related-content
      api-base="{{baseUrl}}"
      from-name="{{articleName}}"
      limit="{{limit}}">
  </related-content>
</section>
